:root {
    --primary-color: #f77915;

    --white-color: white;
    --dark-white-color: #868f98;

    --light-gray-color: #7c8898;
    --gray-color: #262f38;

    --light-dark-color: #1a212b;
    --dark-color: #141519;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: var(--dark-white-color);
    background-color: var(--dark-color);
}

#card {
    max-width: min-content;
    border-radius: 20px;
    background-color: var(--light-dark-color);
}

#child {
    text-align: center;
    text-align: -webkit-center;
    width: 80vw;
    padding: 1.5rem;
}

h1 {
    min-width: max-content;
    color: var(--white-color);
}

img {
    margin: 1rem;
}

.review {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    font-size: large;
    color: var(--dark-white-color);
    background-color: var(--gray-color);
}

.review:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.reviewList {
    display: flex;
    place-content: space-between;
}

.selected {
    color: var(--white-color);
    background-color: var(--light-gray-color);
}

.buttonSubmit {
    user-select: none;
    cursor: pointer;
    letter-spacing: 0.15rem;
    text-align-last: center;
    border-radius: 20px;
    margin-top: 1rem;
    padding: 1rem;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.buttonSubmit:hover {
    color: var(--primary-color);
    background-color: var(--white-color);
}

.rating {
    user-select: none;
    width: min-content;
    border-radius: 20px;
    padding: 0.5rem;
    min-width: max-content;
    color: var(--primary-color);
    background-color: var(--gray-color);
}

.left {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#star{
    width: 1rem;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: var(--gray-color);
}

@media screen and (min-width:1000px) {
    #child {
        width: 350px;
    }

    .review {
        font-size: x-large;
        margin: 0.75rem;
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
    }

}