:root {
    --primary-color: #f77915;

    --white-color: white;
    --dark-white-color: #868f98;

    --light-gray-color: #7c8898;
    --gray-color: #262f38;

    --light-dark-color: #1a212b;
    --dark-color: #141519;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    font-family: sans-serif;
    color: var(--dark-white-color);
    background-color: var(--dark-color);
}

#card {
    padding: 2em;
    border-radius: 20px;
    background-color: var(--light-dark-color);
}

h1 {
    color: var(--white-color);
}

.review {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    color: var(--dark-white-color);
    background-color: var(--gray-color);
}

.reviewList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
}

.selected {
    color: var(--white-color);
    background-color: var(--light-gray-color);
}


.buttonSubmit {
    user-select: none;
    cursor: pointer;
    text-align-last: center;
    color: var(--white-color);
    border-radius: 20px;
    padding: 1em;
    background-color: var(--primary-color);
}

@media screen and (min-width:1000px) {
    body {
        padding-left: 35%;
        padding-right: 35%;
    }
}